@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<canvas id="myCanvas" width="500" height="500" tabindex="0" style="border: 1px solid #d3d3d3;"></canvas>
<body onload="setInterval(send, 1000);">
    <!--<p> BordNummer:(1,2 eller 3) </p>
    <p><input id="Text1" type="text" value="1" /></p>
    <p> Optager:(true/false) </p>
    <p> <input id="Text2" type="text" value="true" /> </p>-->
    <!--<button onclick="setInterval(send, 1000);">Try it</button>-->
    <!--<button type="button" onclick="send()">Send</button>-->
    <div id="SvarDiv" class="container">
    </div>
    <script src="@Url.Content("js/restaurant.js")"></script>
</body>