@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Battleship Index</h2>

<script>
    var gameState;
    //$(document).ready(function() {
    //    $.ajax({
    //        url: "api/Load"
    //    }).then(function(data) {
    //        gameState = data;
    //    });
    //});

    $.ajax({
        dataType: "json",
        url: api / Load,
        data: data,
        success: success
    });

    alert(data);



</script>
