@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Battleship Index</h2>
<input type="radio" name="number" onclick="ShipPosition()" id="Horizontal">Horizontal
<input type="radio" name="number" onclick="ShipPosition()" id="Vertical" checked="checked">Vertical
<canvas id="myCanvas" width="1000" height="1000" tabindex="0" style="border: 1px solid #d3d3d3;"></canvas>

<script>
    var elem = document.getElementById('myCanvas'),
    elemLeft = elem.offsetLeft,
    elemTop = elem.offsetTop,
    context = elem.getContext('2d')

    //Get Json
    var myJson;
    $(document).ready($.getJSON("/api/Load", function (data) {
        myJson = data;
        DrawShip();
        DrawTiles();
        console.log(myJson);
        alert("GameGuid: " + myJson.gameGuid + "\nPlayerGuid: " + myJson.playerGuid);
    }));

    function ShipPosition() {
        var hx = 50;
        var hy = 500;
        var vx = 0;
        var vy = 600;
        $.each(myJson.board.ships, function (index, item) {
            if (item.placement[0] == null) {
                if (document.getElementById('Horizontal').checked) {
                    hy = hy + 60;
                    item.x = hx;
                    item.y = hy;

                } else if (document.getElementById('Vertical').checked) {
                    vx = vx + 60;
                    item.x = vx;
                    item.y = vy;
                }
            }

        })
        Clear();
        DrawShip();
        DrawTiles();
    }

    function DrawShip() {
        $.each(myJson.board.ships, function (index, item) {

            if (item.clicked == true) {
                context.fillStyle = 'blue';
            } else {
                context.fillStyle = 'grey';
            }
            if (item.VerticalOrHorizontal == "Horizontal") {
                context.fillRect(item.x, item.y, item.lenght * 50, 50);
                context.stroke();
            }
            else if (item.VerticalOrHorizontal == "Vertical") {
                context.fillRect(item.x, item.y, 50, item.lenght * 50);
                context.stroke();
            }
            else {
                if (document.getElementById('Horizontal').checked) {
                    context.fillRect(item.x, item.y, item.lenght * 50, 50);
                    context.stroke();
                } else if (document.getElementById('Vertical').checked) {
                    context.fillRect(item.x, item.y, 50, item.lenght * 50);
                    context.stroke();
                }
            }

        });

    }

    function CheckOverlap(ActiveShip, index) {
        var arr = [];
        var godkendt = true;
        //Finder ud af hvad for nogle tiles skibet vil blive lagt på
        if (document.getElementById('Vertical').checked) {
            for (var i = 0; i < ActiveShip.lenght; i++) {
                if (i == 0) {
                    arr.push(myJson.board.tiles[index]);
                }
                else {
                    arr.push(myJson.board.tiles[index + 10]);
                    index = index + 10;
                }
            }
        }
        else if (document.getElementById('Horizontal').checked) {
            for (var i = 0; i < ActiveShip.lenght; i++) {
                if (i == 0) {
                    arr.push(myJson.board.tiles[index]);
                }
                else {
                    arr.push(myJson.board.tiles[index + 1]);
                    index = index + 1;
                }
            }
        }
       

        $.each(myJson.board.ships, function (index, item) {

            if (item.id != ActiveShip.id) {
                for (var j = 0; j < item.placement.length; j++) {

                    for (var i = 0; i < arr.length; i++) {
                        if (item.placement[j].id == arr[i].id) {
                            godkendt = false;
                        }
                    }
                }
            }
        });
        return godkendt;

    }

    function DrawTiles() {
        $.each(myJson.board.tiles, function (index, item) {
            context.fillStyle = 'grey';
            context.rect(item.x, item.y, 50, 50);
            context.stroke();
        });
    }

    function Clear(parameters) {
        context.clearRect(0, 0, 1000, 1000);
    }

    // Klik event
    elem.addEventListener('click', function (event) {
        var x = event.pageX - elemLeft,
            y = event.pageY - elemTop;

        // Detect klik på board
        $.each(myJson.board.tiles, function (index, element) {
            if (y > element.y && y < element.y + 50
                && x > element.x && x < element.x + 50) {
                //Hvis der er et skib valgt skal den placer det hvis det er inden for brættet
                $.each(myJson.board.ships, function (ind, skib) {
                    if (skib.clicked == true) {
                        Clear();
                        if (myJson.board.tiles[index].y + (skib.lenght - 1) * 50 > 500 || myJson.board.tiles[index].x + (skib.lenght - 1) * 50 > 500 ) {
                            alert("fejl");
                        }
                        else if (!CheckOverlap(skib, index)) {
                            alert("den var ikke ok");
                        }
                        else {
                            if (document.getElementById('Horizontal').checked) {
                                //skibet får de felter ind som den bruger
                                skib.placement = []; //fjerner tidligere ID'er
                                var temp = index;
                                for (var i = 0; i < skib.lenght; i++) {
                                    if (i == 0) {
                                        skib.placement.push(myJson.board.tiles[temp]);
                                    }
                                    else {
                                        skib.placement.push(myJson.board.tiles[temp + 1]);
                                        temp = temp + 1;
                                    }

                                }

                                skib.VerticalOrHorizontal = "Horizontal";
                                skib.x = element.x;
                                skib.y = element.y;
                            }
                            else if (document.getElementById('Vertical').checked) {
                                //skibet får de felter ind som den bruger
                                skib.placement = []; //fjerner tidligere ID'er
                                var temp = index;
                                for (var i = 0; i < skib.lenght; i++) {
                                    if (i == 0) {
                                        skib.placement.push(myJson.board.tiles[temp]);
                                    }
                                    else {
                                        skib.placement.push(myJson.board.tiles[temp + 10]);
                                        temp = temp + 10;
                                    }

                                }
                                skib.VerticalOrHorizontal = "Vertical";
                                skib.x = element.x;
                                skib.y = element.y;
                            }

                        }
                        DrawShip();
                        DrawTiles();
                    }
                })
            }
        });

        // Detect klik på skibe
        $.each(myJson.board.ships, function (index, element) {
            var vertical;
            var horizontal;
            if (element.VerticalOrHorizontal == "Vertical" || document.getElementById('Vertical').checked) {
                vertical = element.lenght;
                horizontal = 1;
            }
            else if (element.VerticalOrHorizontal == "Horizontal" || document.getElementById('Horizontal').checked) {
                vertical = 1;
                horizontal = element.lenght;
            }
            if (y > element.y && y < element.y + 50 * vertical
                && x > element.x && x < element.x + 50 * horizontal) {
                //Kun select den der er blevet valgt
                if (element.clicked == true) {
                    element.clicked = false;
                    DrawShip();
                    DrawTiles();
                }
                else if (element.clicked == false) {
                    $.each(myJson.board.ships, function (index, elem) {
                        elem.clicked = false;
                    });
                    element.clicked = true;
                    DrawShip();
                    DrawTiles();
                }
            }
        });
    }, false);
</script>