@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Battleship Index</h2>

<script>
    

    var gameState;
    //$(document).ready(function() {
    //    $.ajax({
    //        url: "api/Load"
    //    }).then(function(data) {
    //        gameState = data;
    //    });
    //});
    console.log();
    var data;
    alert("TEST1");

    $(document).ready($.getJSON("/api/Load", function (data) {
        alert(data.player1.board.tiles[0].id);
    }));

    
    alert("TEST2");


</script>