<div id="main" class="div"></div>


<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
    $(document)
        .ready(function() {
            $("#main").load("dragonslayer.html");
        });
</script>
