<script src="https://unpkg.com/vue/dist/vue.js"></script>
<div id="myapp">
    <p>{{ message + ' ' + sayHello() }}</p>
    <button @click="increase(2)">Click me</button>
    <p>{{ counter }}</p>
    <p @mousemove="updateCoordinates">Coordinates: {{ x }} / {{ y }}</p>
    <input type="text" @input="changeMessage" :value="message">
    <a :href="myLink">Test link</a>
</div>